*,
*::before,
*::after {
    box-sizing: border-box;
}

footer {
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: #000;
    padding: 20px;
}

.logo-branca {
    width: 150px;
    height: auto; 
    margin-top: 20px;
    margin-left: 12px;
}

footer h3 {
    color: #fff;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 10px;
}

.appstore,
.googleplay {
    margin: 15px;
}

.appstore {
    width: 120px;
    height: auto;
    margin-left: 25px;
}

.googleplay {
    width: 120px;
    height: auto; 
    margin-left: 20px;
    margin-bottom: 15px;
}

.contatos,
.div-footer {
    display: none;
}

@media(min-width: 992px) {
    .contatos,
    .div-footer {
        display: block;
    }
}

div ul {
    display: flex;
    justify-content: flex-start; 
    margin-top: 30px;
    margin-left: 30px;
    padding: 0;
}

div ul li {
    list-style: none;
    margin-right: 20px;
}

.fac {
    color: #fff;
}

h4 {
    margin: 10px;
    margin-left: 30px;
}

.linkedin,
.youtube,
.twitter {
    margin-left: 10px;
}

.youtube,
.twitter {
    width: 30px;
    height: auto; 
}

.h3-app {
    color: #fff;
    font-weight: 500;
    margin-left: 30px;
}

.div-footer ul {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.div-footer ul li {
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.div-footer a {
    color: #fff;
    text-decoration: none;
}
