body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5; /* Cor de fundo suave */
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between; /* Distribui os itens nas extremidades */
    align-items: center;
    padding: 10px; /* Espaçamento interno */
    background-color: white; /* Fundo da navbar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.seta-azul, .logo {
    height: 40px; /* Ajuste a altura conforme necessário */
}

main {
    max-width: 400px; /* Largura máxima da área de acesso */
    margin: 100px auto; /* Centralização na página */
    padding: 20px;
    background-color: white; /* Fundo branco */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

h1 {
    font-size: 24px;
    color: black; /* Cor do título */
    margin-bottom: 10px; /* Espaçamento abaixo do título */
    text-align: left; /* Alinhar título à esquerda */
}

h2 {
    font-size: 16px;
    color: #333; /* Cor do subtítulo */
    margin-bottom: 20px; /* Espaçamento abaixo do subtítulo */
    text-align: left; /* Alinhar subtítulo à esquerda */
    font-weight: 400; /* Diminuição do font-weight */
}

article {
    margin-bottom: 30px; /* Espaçamento abaixo do artigo */
}

input[type="password"],
input[type="submit"] {
    width: 100%; /* Largura total */
    padding: 12px; /* Espaçamento interno */
    margin-top: 10px; /* Margem superior */
    border: 2px solid black; /* Borda preta de 2px */
    border-radius: 4px; /* Bordas arredondadas */
    font-size: 14px; /* Tamanho da fonte */
}

input[type="password"]:focus {
    border-color: #0056b3; /* Borda azul ao focar */
    outline: none; /* Remove contorno padrão */
}

input[type="submit"] {
    background-color: #0056b3; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Sem borda */
    cursor: pointer; /* Cursor de ponteiro */
    transition: background-color 0.3s; /* Transição suave */
}

input[type="submit"]:hover {
    background-color: #004494; /* Cor do botão ao passar o mouse */
}

.p-senha {
    margin-top: 20px; /* Espaçamento acima da seção de senha esquecida */
    text-align: left; /* Alinhamento à esquerda */
    color: #0056b3; /* Cor do texto */
    cursor: pointer; /* Cursor de ponteiro */
    text-decoration: underline; /* Sublinhado */
}
